<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading [state]="state">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="{{movie?.poster}}">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <div>
            <ion-text>{{ 'details.puntuation' | translate }}</ion-text>
          </div>
          <div>
            <ion-text>{{movie?.imdbRating}}</ion-text>
          </div>
        </ion-col>

        <ion-col size="6">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-text>{{ 'details.actors' | translate }}</ion-text>
          </div>

          <div *ngFor="let a of actors">
            <ion-text>{{a}}</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-text>{{ 'details.company' | translate }}</ion-text>
          </div>

          <div>
            <ion-text>{{movieCompany}}</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-text>{{ 'details.genres' | translate }}</ion-text>
          </div>
          <div>
            <ion-text *ngFor="let g of movie?.genre">{{g}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-row>
        <ion-col>
          <ion-fab-button color="danger" (click)="deleteMovie()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button color="success" (click)="updateMovie()">
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-fab>
  </app-loading>
</ion-content>
