<ion-header>
  <ion-toolbar>
    <ion-title>{{ movie ? movie.title : 'form.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Para los placeholder no he conseguido poner la traducción dentro de la etiqueta -->
<ion-content>
  <app-loading [state]="state">
    <ion-grid>
      <form [formGroup]="movieform" (ngSubmit)="submitForm()">
        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-input type="text" placeholder="Title" formControlName="title"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-input type="text" placeholder="Póster (URL)" formControlName="poster"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="genres">
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-label>Genres</ion-label>
              <ion-select multiple="true" (ionChange)="onChangeGenres($event)" formControlName="genre">
                <ion-select-option *ngFor="let g of genres" value="{{g}}">{{g}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-label>Actores</ion-label>
              <ion-select multiple="true" (ionChange)="onChangeActors($event)" formControlName="actors">
                <ion-select-option *ngFor="let a of actorsName" value="{{a}}">{{a}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="actorsSelected">
          <ion-col *ngFor="let actor of actorsSelected">
            <ion-item color="tertiary">
              <ion-text>{{actor}}</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-label>Estudio</ion-label>
              <ion-select (ionChange)="onChangeCompany($event)" formControlName="company">
                <ion-select-option *ngFor="let c of companies" value="{{c}}">{{c}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-input type="number" placeholder="Año" formControlName="year"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-input type="number" placeholder="Duración (min)" formControlName="duration"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item color="tertiary">
              <ion-input type="number" placeholder="Puntuación" formControlName="imdbRating"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" type="submit">{{ 'form.save' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </app-loading>
</ion-content>
