<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'list.movies' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading [state]="state">
  <app-movie-card *ngFor="let movie of movieList" [movie]="movie" (click)="gotoDetails(movie.id)"></app-movie-card>
  </app-loading>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/movie-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
