<ion-card>
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <img class="img-size" src="{{movie.poster}}">
    </div>
    <ion-text *ngFor="let g of movie.genre"> #{{g}}</ion-text>
  </ion-card-content>
</ion-card>
